<!DOCTYPE html>
<html lang="en">
<head>
    <!-- {% load static %} -->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>MyRecords - All medical records at one place</title>
    <link rel="stylesheet" href="../../static/app/css/style.css">
    <!-- <link rel="stylesheet" media="screen and (max-width: 1170px)" href="css/phone.css"> -->
    <link href="https://fonts.googleapis.com/css?family=Baloo+Bhai|Bree+Serif&display=swap" rel="stylesheet">
</head>
<body>

    <nav id="navbar">
        <div id="logo">
            <img src="../../static/app/Pictures/logo2.png" alt="MyReports.com">
        </div>
        <ul>
            <li class="item"><a href="#home"> Home </a></li>
            <li class="item"><a href="#about"> About </a></li>
            <li class="item"><a  href="#contact"> Contact Us </a></li>
            <li class="item"><a href="login.html"> Sign-in/Login </a></li>
        </ul>
        <!-- <div class="rightNav">
            <input type="text" name="search" id="search">
            <button class="btn btn-sm">search</button>
        </div> -->
    </nav>

    <section id="home">
        <h1 class="h-primary">Welcome to MyReports</h1>
        <p>Keep all your medical reports and prescription at one place <br>
             A safe place for your medical documents
        </p>
    </section>
    
    <section id="about">
        <h1 class="h-primary center">About us</h1>
        
        <div id="about-us">
            <div class="box">
                <img src="../../static/app/Pictures/about6.jpg" alt="Reports">
                <div>
                    <h2 class="h-secondary center">Reports</h2>
                    <p class="center">
                        All the medical reports and prescriptions at one place
                    </p>
                </div>
            </div>
        </div>

        <div id="about-us">
            <div class="box">
                <img src="../../static/app/Pictures/about7.jpg" alt="Access">
                <div>
                    <h2 class="h-secondary center">Access</h2>
                    <p class="center">
                        You can access the documents from anywhere
                    </p>
                </div>              
            </div>
        </div>

        <div id="about-us">
            <div class="box">
                <img src="../../static/app/Pictures/about3.jpg" alt="Doctors">
                <div>
                    <h2 class="h-secondary center">Doctors</h2>
                    <p class="center">
                        Doctors can see your complete medical history and provide a better treatment
                    </p>
                </div>
            </div>
        </div>

        <div id="about-us">
            <div class="box">
                <img src="../../static/app/Pictures/pic4.jpg" alt="Emergency">
                <div>
                    <h2 class="h-secondary center">Emergency</h2>
                    <p class="center">
                        In case of an emergency or a severe injury, you can get a precise and complete treatment at an early stage 
                    </p>
                </div>
            </div>
        </div>
        

    </section>

    <section id="contact">
        <h1 class="h-primary center background">Contact us</h1>
        <p class = "background">Contact number: 98635XXXXX, 78327XXXXX <br> E-mail address: myreports@gmail.com </p>
    </section>

    <footer>
        <div class="center footalign">
            Copyright &copy; www.MyReports.com. All rights reserved!
        </div>
    </footer>


</body>
</html>