*{
  margin: 0;
  padding: 0;
}

html{
  scroll-behavior: smooth;
}

/* CSS Variables */
:root{
  --navbar-height: 59px;
}

/* Navigation Bar */
#navbar{
  display: flex;
  align-items: center;
  position: sticky;
  top: 0px;
}

#navbar::before{
  content: "";
  background-color: black;
  position: absolute;
  top:0px;
  left:0px;
  height: 100%;
  width:100%;
  z-index: -1;
  opacity: 0.6;
}

/* Navigation Bar: Logo and Image */
#logo{
  /* margin: 10px 34px; */
  margin: 0px 11px;
}

#logo img{
  /* height: 59px;
  margin: 3px 6px; */
  height: 56px;
  margin: 3px 10px;
}


#navbar ul{
  display: flex;
  font-family: "Times New Roman", Times, serif;
}

#navbar ul li{ 
  list-style: none;
  font-size: 1.3rem;
}

#navbar ul li a{
  color: white;
  display: block;
  padding: 3px 22px;
  border-radius: 20px;
  text-decoration: none;
}

#navbar ul li a:hover{
  color: black;
  background-color: white;
}


#docs{
  margin: 34px;
  display: flex;
}
#docs .box{ 
  border: 2px solid brown;
  padding: 30px;
  margin: 11px 17px;
  border-radius: 28px;
  background: #f2f2f2;
  margin-bottom: 20px;
  width: 100%;
  display: grid;
  grid-template-columns: min-content 1fr;
}

#docs .box img{ 
 height: 160px;
 margin: 10px;
 padding: 5px;

}

#docs .box div p{
  font-family: 'Bree Serif', serif;

} 

.h-primary{
  font-family: 'Bree Serif', serif;
  font-size: 3.8rem;
  padding: 12px;
}

.h-secondary{
  font-family: 'Bree Serif', serif;
  font-size: 2.3rem;
  padding: 12px;
}

.h-primary{
  font-family: 'Bree Serif', serif;
  font-size: 3.8rem;
  padding: 12px;
}

.h-secondary{
  font-family: 'Bree Serif', serif;
  font-size: 2.3rem;
  padding: 12px;
}

.btn{
  padding: 6px 20px;
  border: 2px solid white;
  background-color: brown;
  color: white;
  margin: 17px;
  font-size: 1.5rem;
  border-radius: 10px;
  cursor:pointer;
}

.center{
  text-align: center;
}

.background{
  background-color: grey;
}

.footalign{
  margin: 10px;
}


