
/* CSS Reset */
*{
    margin: 0;
    padding: 0;
}

html{
    scroll-behavior: smooth;
}

/* CSS Variables */
:root{
    --navbar-height: 59px;
}

/* Navigation Bar */
#navbar{
    display: flex;
    align-items: center;
    position: sticky;
    top: 0px;
}

#navbar::before{
    content: "";
    background-color: black;
    position: absolute;
    top:0px;
    left:0px;
    height: 100%;
    width:100%;
    z-index: -1;
    opacity: 0.6;
}

/* Navigation Bar: Logo and Image */
#logo{
    /* margin: 10px 34px; */
    margin: 0px 11px;
}

#logo img{
    /* height: 59px;
    margin: 3px 6px; */
    height: 56px;
    margin: 3px 10px;
}


/* Navigation Bar: List Styling */

#navbar ul{
    display: flex;
    font-family: "Times New Roman", Times, serif;
}

#navbar ul li{ 
    list-style: none;
    font-size: 1.3rem;
}

#navbar ul li a{
    color: white;
    display: block;
    padding: 3px 22px;
    border-radius: 20px;
    text-decoration: none;
}

#navbar ul li a:hover{
    color: black;
    background-color: white;
}

/* Home Section */
#home{
    display: flex;
    flex-direction: column;
    padding:3px 200px;
    height: 550px;
    justify-content: center;
    align-items: center;
    
}

#home::before{ 
    content: "";
    position: absolute;
    background: url('../Pictures/coverpage.png') no-repeat center center/cover;
    height: 595px;
    top:0px;
    left:0px;
    width: 100%;
    z-index: -1;
    opacity:0.89;
}

#home h1{
    color:black;
    text-align: center;
    font-family: 'Bree Serif', serif;
    height: 500px;
}

#home p{
    color: black;
    text-align: center;
    font-size: 1.5rem;
    height: 2800px;
    font-family: 'Bree Serif', serif;
}


/* About-us Section */
#about-us{
    margin: 34px;
    display: flex;
}
#about-us .box{ 
    border: 2px solid brown;
    padding: 30px;
    margin: 11px 17px;
    border-radius: 28px;
    background: #f2f2f2;
    margin-bottom: 20px;
    width: 100%;
    display: grid;
    grid-template-columns: min-content 1fr;
}

#about-us .box img{ 
   height: 160px;
   margin: 10px;
   padding: 5px;

}

#about-us .box div p{
    font-family: 'Bree Serif', serif;

} 

/* Contact us */
#contact{
    color: white;
}

#contact h1{
    color: white;
}

#contact p{
    color: white;
    padding: 30px;
}

/* Utility Classes */
.h-primary{
    font-family: 'Bree Serif', serif;
    font-size: 3.8rem;
    padding: 12px;
}

.h-secondary{
    font-family: 'Bree Serif', serif;
    font-size: 2.3rem;
    padding: 12px;
}

.btn{
    padding: 6px 20px;
    border: 2px solid white;
    background-color: brown;
    color: white;
    margin: 17px;
    font-size: 1.5rem;
    border-radius: 10px;
    cursor:pointer;
}

.center{
    text-align: center;
}

.background{
    background-color: grey;
}

.footalign{
    margin: 10px;
}
